<template>
  <div class="offers grid__right">
    <h2>{{ $t("offers") }}</h2>
    <ProductPanel
      v-for="product in products"
      :key="product.id"
      :product="product"
    />
  </div>
</template>
<script>
import Product from "@/models/Product.js";
import ProductPanel from "@/components/ProductPanel";

export default {
  name: "Offers",
  components: {
    ProductPanel
  },
  data() {
    return {
      products: []
    };
  },
  async created() {
    this.products = await Product.loadOffers();
  }
};
</script>
<style lang="scss" scoped>
.offers .product-panel {
  width: 100%;
  padding: 0;
}
</style>
