<template>
  <div class="price">
    <div v-if="offer">
      {{ offerPrice }}
      <span class="offer">{{ $t("price.was") }} {{ formattedPrice }}</span>
    </div>
    <div v-else>{{ formattedPrice }}</div>
  </div>
</template>

<script>
export default {
  name: "Price",
  props: {
    price: Number,
    offer: Boolean
  },
  computed: {
    formattedPrice() {
      return (this.price / 100).toFixed(2) + " CHF";
    },
    offerPrice() {
      return ((this.price / 100) * 0.8).toFixed(2) + " CHF";
    }
  }
};
</script>

<style lang="scss">
.price {
  font-size: 0.9rem;
}
.offer {
  font-size: 0.8rem;
  text-decoration: line-through;
  color: var(--color-danger);
}
</style>
