<template>
  <div class="product-panel" v-if="product">
    <router-link :to="productLink">
      <div class="categories">
        <div class="category" :key="category.id" v-for="category in categories">
          {{ localizeCategory(category) }}
        </div>
      </div>
      <img v-if="product.img" loading="lazy" :src="product.img" />
      <img v-else loading="lazy" src="../assets/loading.webp" />
      <div class="title">
        <h3>{{ product.name }}</h3>
      </div>
      <Price :price="product.price" :offer="product.isOffer" />
      <Rating :rating="product.rating" />
    </router-link>
  </div>
</template>

<script>
import Rating from "@/components/Rating.vue";
import Price from "@/components/Price.vue";

export default {
  name: "ProductPanel",
  props: {
    product: Object
  },
  components: {
    Rating,
    Price
  },
  methods: {
    localizeCategory(category) {
      if (this.$i18n.locale === "de") {
        return category.nameDe;
      }
      return category.nameEn;
    }
  },

  computed: {
    categories() {
      let categories = [];
      let category = this.product.category;
      while (category) {
        categories.push(category);
        category = category.parent ? category.parent : null;
      }
      return categories.reverse();
    },

    productLink() {
      return "/products/" + this.product.id;
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import "@/assets/scss/_variables";

.product-panel > a {
  text-decoration: none;
  color: var(--color-text);
}

.offer {
  color: red;
  font-weight: bolder;
  padding: 7px;
  margin: 0px;
}

.categories {
  font-size: 0.8rem;

  .category {
    display: inline;

    &:not(:last-child):after {
      content: "> ";
    }
  }
}

.product-panel {
  padding: 0 calc(2 * var(--padding));
  width: 33.333%;
  margin-bottom: calc(2 * var(--padding));
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  > a {
    padding: 10px;
    background: transparent;
    border-radius: 5px;
  }
  &:hover {
    > a {
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
    }
  }
}

@media screen and (max-width: 650px) {
  .product-panel {
    width: 50%;
  }
}
@media screen and (max-width: $breakpoint-small) {
  .product-panel {
    width: 100%;
    padding: 0;
  }
}

.product-panel img {
  height: 250px;
  width: auto;
  margin: 0 auto;
  padding: 10px 0;
  max-width: 100%;
  object-fit: contain;
  display: blocK;
}

h3 {
  margin-bottom: 0;
}
</style>
