<template>
  <div class="product-form grid">
    <div class="grid__middle">
      <h1 v-if="edit">{{ $t("productForm.edit") }}</h1>
      <h1 v-else>{{ $t("productForm.create") }}</h1>
      <form @submit="processData">
        <div class="input">
          <label>{{ $t("productForm.name") }}</label>
          <input type="text" v-model="product.name" />
        </div>
        <div class="input">
          <label>{{ $t("productForm.price") }}</label>
          <input type="number" v-model="product.price" />
        </div>
        <div class="input">
          <label>{{ $t("productForm.img") }}</label>
          <input type="url" v-model="product.img" />
        </div>
        <div class="input">
          <label>{{ $t("productForm.isOffer") }}</label>
          <input type="checkbox" :checked="false" v-model="product.isOffer" />
        </div>
        <div class="input">
          <label>{{ $t("productForm.category") }}</label>
          <select v-model="product.category">
            <option
              :key="category.id"
              :value="category.id"
              v-for="category in categories"
            >
              {{ localizeCategory(category) }}
            </option>
          </select>
        </div>
        <input
          type="submit"
          :value="edit ? $t('productForm.update') : $t('productForm.save')"
        />
      </form>
    </div>
  </div>
</template>

<script>
import Category from "@/models/Category";
import Product from "@/models/Product";

export default {
  name: "ProductForm",
  props: {
    product: Object,
    edit: Boolean
  },
  data() {
    return {
      categories: []
    };
  },
  async created() {
    this.categories = await Category.loadAll();
  },
  methods: {
    async processData(e) {
      e.preventDefault();

      if (!this.product.isOffer) {
        this.product.isOffer = false;
      }

      if (this.edit) {
        await Product.update(this.product);
      } else {
        await Product.create(this.product);
      }

      this.$router.push({ name: "ProductOverview" });
    },
    localizeCategory(category) {
      if (this.$i18n.locale === "de") {
        return category.nameDe;
      }
      return category.nameEn;
    }
  }
};
</script>
