<template>
  <div class="rating">
    <div>
      <Star class="star-filled" :key="'rating' + i" v-for="i in rating" />
      <Star
        class="star-empty"
        :key="'rating' + i + 5"
        v-for="i in 5 - rating"
      />
    </div>
    <p v-if="rating === null">no rating yet</p>
  </div>
</template>

<script>
import Star from "@/components/Star.vue";

export default {
  name: "Rating",
  props: {
    rating: Number
  },
  components: {
    Star
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
.star {
  stroke-linecap: round;
  stroke: var(--color-main);
  stroke-width: 3px;
  display: inline-block;
}
.star-filled > svg > path {
  fill: var(--color-accent);
}
</style>
