<template>
  <div class="star">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="20"
      height="20"
      viewBox="0 0 51 48"
    >
      <path
        fill="none"
        stroke="#000"
        d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"
      />
    </svg>
  </div>
</template>

<script>
export default {
  name: "Star"
};
</script>
