<template>
  <div id="app">
    <header class="header grid">
      <div class="grid__middle">
        <div class="header__logo">
          <router-link to="/">
            <img class="logo" alt="warez logo" src="./assets/logo.svg"
          /></router-link>
        </div>
        <nav class="header__navigation" v-if="displayMenu">
          <router-link class="button" to="/products">{{
            $t("nav.products")
          }}</router-link>
          <router-link v-if="isAdmin" class="button" to="/admin">{{
            $t("nav.administration")
          }}</router-link>
        </nav>

        <div class="header__user">
          <div v-if="user">
            <div v-if="user">{{ user.fullName }}</div>
            <div>
              <router-link to="/cart"
                >{{ $t("header.cart") }}
                <span v-if="numberOfProducts > 0"
                  >({{ numberOfProducts }})</span
                ></router-link
              >
              -
              <router-link to="/logout">{{ $t("header.logout") }}</router-link>
            </div>
          </div>
          <select
            @change="saveLanguage"
            class="navigation-selection"
            v-model="$i18n.locale"
          >
            <option
              v-for="(language, key) in languages"
              :key="key"
              :value="key"
              >{{ language }}</option
            >
          </select>
        </div>
      </div>
    </header>

    <main class="main">
      <router-view />
    </main>

    <footer class="footer grid">
      <div class="grid__middle">
        <div class="footer__content--left">
          {{ $t("footer.created") }}
          <a
            href="https://severinkaderli.ch"
            rel="noopener noreferrer"
            target="_blank"
            >Severin Kaderli</a
          >
          &amp;
          <a
            href="https://mariusschaer.ch"
            rel="noopener noreferrer"
            target="_blank"
            >Marius Schär</a
          >
          <br />&copy;2019–{{ currentYear }}
        </div>
        <div class="footer__content--right">
          {{ $t("footer.version") }} {{ version }}-{{ commitHash }}
        </div>
      </div>
    </footer>
  </div>
</template>

<script>
import { Access } from "@/models/API.js";
import Cart from "@/models/Cart";

const version = VERSION;
const commitHash = COMMIT_HASH;

export default {
  name: "app",
  data() {
    return {
      /**
       * The current version of the application.
       *
       * @var String
       */
      version,
      /**
       * The current commit hash.
       *
       * @var String
       */
      commitHash,
      numberOfProducts: 0,
      user: null,
      isAdmin: false,
      displayMenu: false,
      currentYear: new Date().getFullYear(),
      languages: {
        en: "English",
        de: "Deutsch"
      }
    };
  },
  methods: {
    saveLanguage() {
      window.localStorage.setItem("language", this.$i18n.locale);
    },
    fetchData() {
      this.isAdmin = Access.isAdmin();
      this.user = Access.getPayload().user ? Access.getPayload().user : null;
      this.displayMenu = Access.hasToken();
      this.numberOfProducts = Cart.numberOfProducts();
    }
  },
  created() {
    this.fetchData();
  }
};
</script>

<style lang="scss">
@import "@/assets/scss/_variables";
@import "@/assets/scss/_typography";
@import "@/assets/scss/_button";
@import "@/assets/scss/_form";
@import "@/assets/scss/_table";
@import "@/assets/scss/_grid";

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font);
  font-size: var(--base-font-size);
  color: var(--color-text);
  margin: 0;
}

#app {
  width: 100%;
  margin: 0 auto;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

.header {
  > .grid__middle {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 1fr;
    grid-gap: var(--padding);

    .header__logo {
      grid-column: 1;
      grid-row: 1;
      align-self: flex-end;

      img {
        width: 75px;
        height: auto;
      }
    }

    .header__navigation {
      grid-column: 2;
      grid-row: 1;
      align-self: flex-end;

      a {
        display: inline-block;
        &:not(:last-child) {
          margin-right: var(--padding);
        }
      }
    }

    .header__user {
      grid-column: 3;
      grid-row: 1;
      align-self: flex-end;
      text-align: right;
    }
  }
}

.navigation-selection {
  width: auto;
  margin-top: var(--padding);
}

.main {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: calc(2 * var(--padding)) 0;
}

.footer {
  font-size: 0.8rem;

  > .grid__middle {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr;
    grid-gap: var(--padding);
    .footer__content {
      &--left {
        grid-column: 1;
        grid-row: 1;
      }
      &--right {
        grid-column: 2;
        grid-row: 1;
        text-align: right;
      }
    }
  }
}

@media screen and (max-width: $breakpoint-small) {
  .footer > .grid__middle {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;

    .footer__content {
      &--left {
        grid-column: 1;
        grid-row: 1;
      }

      &--right {
        grid-column: 1;
        grid-row: 2;
        text-align: left;
      }
    }
  }
}
</style>
