<template>
  <div class="admin grid">
    <div class="grid__middle">
      <h2>{{ $t("admin.products") }}</h2>
      <router-link class="button" to="/product/create">{{
        $t("admin.addProduct")
      }}</router-link>
      <table>
        <thead>
          <tr>
            <th>{{ $t("admin.productTable.id") }}</th>
            <th>{{ $t("admin.productTable.name") }}</th>
            <th>{{ $t("admin.productTable.price") }}</th>
            <th>{{ $t("admin.productTable.actions") }}</th>
          </tr>
        </thead>
        <tbody>
          <tr :key="'product-' + product.id" v-for="product in products">
            <td class="cell--min">{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td class="cell--min cell--number">
              {{ formatPrice(product.price) }}
            </td>
            <td class="cell--min">
              <router-link class="button" :to="'/product/edit/' + product.id">{{
                $t("admin.productTable.edit")
              }}</router-link>
              <button class="danger" @click="deleteProduct(product)">
                {{ $t("admin.productTable.delete") }}
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import Product from "@/models/Product";

export default {
  name: "admin",
  async created() {
    this.fetchProducts();
  },
  data() {
    return {
      products: {}
    };
  },
  methods: {
    async fetchProducts() {
      this.products = await Product.loadAll();
    },
    async deleteProduct(product) {
      const confirmText =
        this.$i18n.locale === "de"
          ? "Möchten Sie dieses Produkt wirklich entfernen‽"
          : "Do you really want to delete this product‽";
      if (!confirm(confirmText)) {
        return;
      }

      Product.delete(product.id);

      this.fetchProducts();
    },
    formatPrice(price) {
      return (price / 100).toFixed(2) + " CHF";
    }
  }
};
</script>
