<template>
  <div class="cart grid">
    <div class="grid__middle">
      <h1>{{ $t("cart.title") }}</h1>
      <div class="cart__entry" :key="entry.product.id" v-for="entry in cart">
        <div class="entry__details">
          <h3>{{ entry.product.name }}</h3>
          <ul v-if="entry.options.length > 0">
            <li :key="option" v-for="(value, option) in entry.options">
              {{ option }}: {{ value }}
            </li>
          </ul>
        </div>
        <div class="entry__price">
          x{{ entry.quantity }}
          <Price :price="entry.quantity * entry.product.price" />
          <button class="danger" @click="removeProduct(entry.product)">
            {{ $t("cart.remove") }}
          </button>
        </div>
      </div>
      <div v-if="!cart.length">
        {{ $t("cart.empty") }}
      </div>
      <div class="input">
        <button v-show="cart.length > 0" class="danger" @click="clearCart">
          {{ $t("cart.clear") }}
        </button>
      </div>
      <div class="input">
        <button v-show="cart.length > 0" @click="order">
          {{ $t("cart.order") }}
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import Cart from "@/models/Cart";
import Product from "@/models/Product";
import Price from "@/components/Price";
import { Access } from "@/models/API";

export default {
  name: "cart",
  components: {
    Price
  },
  data() {
    return {
      cart: Cart.get()
    };
  },
  methods: {
    updateCart() {
      this.cart = Cart.get();
    },
    removeProduct(product) {
      Cart.removeProduct(product);
      this.updateCart();
    },
    clearCart() {
      Cart.clear();
      this.updateCart();
    },
    order() {
      Product.order(this.cart);
      Cart.clear();
      Access.updateNavigation(this);
      this.$router.push({ name: "ProductOverview" });
    }
  }
};
</script>

<style lang="scss" scoped>
@import "@/assets/scss/_variables";

.cart__entry {
  border-bottom: 1px solid black;
  padding: var(--padding) 0;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto auto;
  p {
    padding: 0;
    margin: 0;
  }
}

h3 {
  margin-bottom: 0;
}

.entry {
  &__details {
    grid-column: 1;
  }

  &__price {
    text-align: right;
    grid-column: 2;
  }
}

@media screen and (max-width: $breakpoint-small) {
  .cart__entry {
    grid-template-rows: auto auto;
    grid-template-columns: auto;
  }

  .entry {
    &__details {
      grid-column: 1;
      grid-row: 1;
    }

    &__price {
      text-align: left;
      grid-column: 1;
      grid-row: 2;
    }
  }
}
</style>
