<template>
  <div class="home grid">
    <div class="grid__middle">
      <h1>{{ $t("home.title") }}</h1>
      <h3>{{ $t("home.subtitle") }}</h3>
      <p v-html="$t('home.leadText')"></p>
    </div>
  </div>
</template>

<script>
export default {
  name: "home"
};
</script>
