<template>
  <div class="login grid">
    <div class="grid__middle">
      <h1>{{ $t("login.title") }}</h1>
      <form @submit="submit">
        <div class="input">
          <label>{{ $t("login.username") }}</label>
          <input
            type="text"
            name="username"
            placeholder="Username"
            v-model="input.username"
          />
        </div>
        <div class="input">
          <label>{{ $t("login.password") }}</label>
          <input
            type="password"
            name="password"
            placeholder="Password"
            v-model="input.password"
          />
        </div>
        <div class="error-message" v-if="isError">
          {{ $t("login.error") }}
        </div>
        <div class="input">
          <input
            type="submit"
            :disabled="!input.username || !input.password"
            :value="$t('login.login')"
          />
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import { Access } from "@/models/API.js";

const targetLocation = "warez.target";

export default {
  name: "login",
  data() {
    return {
      input: {
        username: "",
        password: ""
      },
      isError: false
    };
  },
  methods: {
    async submit(event) {
      event.preventDefault();

      this.isError = false;
      if (this.checkCredentials()) {
        var success = await Access.login(
          this.input.username,
          this.input.password
        );
        this.isError = !success;
      }

      if (this.isError) {
        return;
      }

      Access.updateNavigation(this);

      if (!!window.localStorage.getItem(targetLocation)) {
        const target = window.localStorage.getItem(targetLocation);
        window.localStorage.removeItem(targetLocation);
        this.$router.push(target);
      } else {
        this.$router.push("/");
      }
    },
    checkCredentials() {
      if (this.input.username === "" || this.input.password === "") {
        return false;
      }

      return true;
    }
  }
};
</script>

<style scoped lang="scss">
.error-message {
  margin-top: calc(2 * var(--padding));
  color: var(--color-danger);
}
</style>
