<template><div></div></template>
<script>
import { Access } from "@/models/API.js";

export default {
  beforeRouteEnter(to, from, next) {
    Access.logout();
    next(vm => {
      Access.updateNavigation(vm);
      next("login");
    });
  }
};
</script>
