<template>
  <div class="product-create">
    <ProductForm :edit="false" :product="product" />
  </div>
</template>

<script>
import ProductForm from "@/components/ProductForm";
import Product from "@/models/Product";

export default {
  name: "ProductCreate",
  components: {
    ProductForm
  },
  data() {
    return {
      product: {}
    };
  }
};
</script>
