<template>
  <div class="product-overview grid">
    <div class="filter grid__left">
      <h2>{{ $t("overview.filter") }}</h2>
      <div class="input">
        <input type="search" placeholder="Name" v-model="searchString" />
      </div>
      <div class="input">
        <select placeholder="Category" v-model="filterCategory">
          <option :value="0">-</option>
          <option
            :key="category.id"
            v-for="category in categories"
            :value="category.id"
            >{{ category.nameEn }}</option
          >
        </select>
      </div>
    </div>
    <div class="products grid__middle">
      <ProductPanel
        :to="'/product/' + product.id"
        v-for="product in filteredProducts"
        :key="product.id"
        :product="product"
      />
    </div>
    <Offers />
  </div>
</template>

<script>
import ProductPanel from "@/components/ProductPanel.vue";
import Offers from "@/components/Offers.vue";
import Product from "@/models/Product.js";
import Category from "@/models/Category.js";

export default {
  name: "ProductOverview",
  components: {
    ProductPanel,
    Offers
  },
  data() {
    return {
      products: [],
      categories: [],
      searchString: "",
      filterCategory: 0
    };
  },
  async created() {
    this.products = await Product.loadAll();
    this.categories = await Category.loadAll();
  },
  computed: {
    filteredProducts() {
      let filteredProducts = this.products.filter(
        product =>
          product.name.toLowerCase().indexOf(this.searchString.toLowerCase()) >=
          0
      );

      if (this.filterCategory > 0) {
        filteredProducts = filteredProducts.filter(product => {
          let categories = Category.getCategories(product.category);
          for (const category of categories) {
            if (category.id === this.filterCategory) {
              return true;
            }
          }
          return false;
        });
      }

      return filteredProducts;
    }
  }
};
</script>
<style scoped lang="scss">
.products {
  display: flex;
  flex-wrap: wrap;
}
</style>
