<template>
  <div class="product-detail">
    <ProductPanel :product="product" />
    <section class="attributes">
      <form @submit="addProduct">
        <div
          class="input"
          :key="attribute.name"
          v-for="(attribute, index) in attributes"
        >
          <label :for="'attribute-' + index">{{
            localizeAttribute(attribute)
          }}</label>
          <select :name="attribute.name" :id="'attribute-' + index">
            <option
              :key="attribute.nameEn + value"
              v-for="value in attribute.values"
              :value="value + attribute.unit"
              selected
            >
              {{ value }}{{ attribute.unit }}
            </option>
          </select>
        </div>
        <div class="input">
          <label for="quantity">{{ $t("detail.quantity") }}</label>
          <input id="quantity" min="1" v-model="quantity" type="number" />
        </div>
        <div class="input">
          <button type="submit">{{ $t("detail.addToCart") }}</button>
        </div>
      </form>
    </section>
  </div>
</template>

<script>
import ProductPanel from "@/components/ProductPanel.vue";
import Product from "@/models/Product.js";
import Cart from "@/models/Cart.js";
import { Access } from "@/models/API.js";

export default {
  name: "ProductDetail",
  components: {
    ProductPanel
  },
  data() {
    return {
      product: null,
      quantity: 1
    };
  },
  methods: {
    localizeAttribute(attribute) {
      if (this.$i18n.locale === "de") {
        return attribute.nameDe;
      }

      return attribute.nameEn;
    },
    addProduct(e) {
      e.preventDefault();
      const options = Object.fromEntries(new FormData(e.target));

      let cartEntry = {
        product: this.product,
        options,
        quantity: this.quantity
      };

      Cart.add(cartEntry);
      Access.updateNavigation(this);
      this.$router.push({ name: "cart" });
    }
  },
  computed: {
    details() {
      return JSON.stringify(this.product);
    },
    attributes() {
      let attributes = {};

      if (!this.product) {
        return attributes;
      }

      for (const attribute of this.product.attributes) {
        const type = attribute.attribute_type;

        if (!attributes[type.id]) {
          attributes[type.id] = {
            nameEn: type.name_en,
            nameDe: type.name_de,
            values: [],
            unit: type.unit
          };
        }

        attributes[type.id].values.push(attribute.value);
      }

      return attributes;
    }
  },
  async created() {
    this.product = await Product.loadById(this.$route.params.productId);
  }
};
</script>
<style scoped lang="scss">
@import "@/assets/scss/_variables";

.product-detail {
  display: grid;
  padding: 0 calc(2 * var(--padding));
  grid-template-columns: 50% 50%;
  grid-gap: var(--padding);
}

.product-panel {
  width: 100%;
  padding: 0;

  grid-column: 1;
  grid-row: 1;
}

.attributes {
  grid-column: 2;
  grid-row: 1;
}

@media screen and (max-width: $breakpoint-small) {
  .product-detail {
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
  }

  .product-panel {
    grid-column: 1;
    grid-row: 1;
  }

  .attributes {
    grid-column: 1;
    grid-row: 2;
  }
}
</style>
