<template>
  <div class="product-edit">
    <ProductForm :edit="true" :product="product" />
  </div>
</template>

<script>
import ProductForm from "@/components/ProductForm";
import Product from "@/models/Product";

export default {
  name: "ProductEdit",
  components: {
    ProductForm
  },
  data() {
    return {
      product: {}
    };
  },
  async created() {
    this.product = await Product.loadById(this.$route.params.productId);
    this.product.category = this.product.category.id;
  }
};
</script>
