a.button,
button,
input[type="submit"] {
  margin: calc(0.5 * var(--padding)) 0;
  border: none;
  background-color: var(--color-main);
  padding: var(--padding) calc(2 * var(--padding));
  border-radius: var(--border-radius);
  transition: background-color 0.05s;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-size: 0.8rem;
  display: inline-block;
  width: auto;

  &:not([disabled]):hover {
    background-color: var(--color-accent);
    text-decoration: none;
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &.danger {
    background-color: var(--color-danger);
    &:not([disabled]):hover {
      background-color: var(--color-danger-accent);
    }
  }
}

@media screen and (max-width: $breakpoint-small) {
  a.button,
  button,
  input[type="submit"] {
    width: 100%;
    text-align: center;
  }
}
