.input {
  margin-bottom: calc(1.5 * var(--padding));
  label {
    display: block;
    margin-bottom: 1px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

input,
select {
  width: 100%;
  max-width: 300px;
  padding: var(--padding);
  border: 1px solid var(--color-main);
  border-radius: var(--border-radius);
  outline: none;

  &:active {
    border-color: var(--color-accent);
  }
}

input[type="checkbox"],
input[type="radio"] {
  width: auto;
}

@media screen and (max-width: $breakpoint-small) {
  input,
  select {
    max-width: 100%;
  }
}
