.grid {
  display: grid;
  grid-template-columns: 1fr 60% 1fr;
  grid-template-rows: 1fr;
  grid-gap: var(--padding);
}

.grid__left {
  grid-column: 1;
  grid-row: 1;
  padding: calc(0.5 * var(--padding)) 0;
  padding-left: calc(2 * var(--padding));
}

.grid__middle {
  grid-column: 2;
  grid-row: 1;
  padding: calc(0.5 * var(--padding)) 0;
}

.grid__right {
  grid-column: 3;
  grid-row: 1;
  padding: calc(0.5 * var(--padding)) 0;
  padding-right: calc(2 * var(--padding));
}


@media screen and (max-width: $breakpoint-middle) {
  .grid {
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
  }

  .grid__left {
    grid-column: 1;
    grid-row: 1;
    padding: calc(0.5 * var(--padding)) calc(2 * var(--padding));
  }

  .grid__middle {
    grid-column: 1;
    grid-row: 2;
    border: none;
    padding: calc(0.5 * var(--padding)) calc(2 * var(--padding));
  }

  .grid__right {
    grid-column: 1;
    grid-row: 3;
    padding: calc(0.5 * var(--padding)) calc(2 * var(--padding));
  }
}
