table {
  width: 100%;
  max-width: 100%;
  display: block;
  border-collapse: collapse;
  margin-top: var(--padding);
}

th,
td {
  text-align: left;
  border: 1px solid black;
  padding: var(--padding);

  a.button,
  button {
    &:not(:last-child) {
      margin-right: 5px;

    }
  }
}

.cell--min {
  width: 1%;
  white-space: nowrap;
}

.cell--number {
  text-align: right;
}

@media screen and (max-width: $breakpoint-small) {
  .cell--min {
    white-space: normal;
  }
}
