:root {
  --font: sans-serif;
  --base-font-size: 14px;
  --padding: 10px;
  --border-radius: 5px;
  --color-main: #4caf50;
  --color-accent: #8bc34a;
  --color-text: #030303;
  --color-danger: #d1292c;
  --color-danger-accent: #ff3236;
}


$breakpoint-middle: 980px;
$breakpoint-small: 450px;
